<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <h1 class="navbar-brand"><i class="fas fa-paint-brush"></i> Welcome to Mario Kart</h1>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="theMenu" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" href="/movie/create">Create a Movie</a>
        </li>
      </ul>
      <app-login></app-login>
    </div>
 </nav>
